.wrap {
  width: 25rem;
  overflow: hidden;
}
span,
a,
i,
em {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  vertical-align: top;
  font-style: normal ;
  outline: none;
}
input {
  padding: 0;
  border: 0;
  width: 0;
  height: 0;
  outline: none;
  background: none;
}
.floatl {
  float: left;
}
.floatr {
  float: right;
}
.clearFIX:after {
  content: '';
  display: block;
  clear: both;
}
h1,
h2 {
  margin: 0;
}
.img,
i {
  background-image: url(../images/cj.png);
  background-repeat: no-repeat;
  background-size: 24.35064935rem 32.46753247rem;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
